.calc-display {
    width: 100%;
    border: 0.5px solid gray;
    height: 83px;
    background: black;
    color: white;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 3.5rem;
    padding-right: 10px;
}