.calculator {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    height: 393px;
    margin: 0 auto;
    border: 0.5px solid gray;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: 2px solid gray;
    box-shadow: 0 0 25px black;
}