.calculator {
    width: 330px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 393px;
    border: 0.5px solid gray;
    margin-top: 50px;
    margin-bottom: 15px;
    border-bottom: 2px solid gray;
    box-shadow: 0 0 25px black;
}

.credits {
    text-align:center;
    color:white;
    text-shadow: 0 0 25px black;
    font-size: 0.4rem;
    width: 100%;
}

.credits h1 {
    font-family: 'Orbitron', sans-serif;
    transition: 0.15s;
}

